.mat-toolbar{
    width: 100%;
    background-color: rgb(0, 0, 14);
    border-bottom: 2px solid silver;
}
.mat-toolbar > .mat-toolbar-row > span {
    color: #fff;
    font-size: 1.4em;
}
/* .menu-spacer {
    flex: 1 1 auto;
} */