<prefab-header></prefab-header>

<div id="main">

  <div *ngIf="baseCurrencyMenu?.length">

    <mat-form-field>
      <!-- <mat-label>Base:</mat-label> -->
      <select matNativeControl (change)="selectBaseCurrency($event)">
        @for (option of baseCurrencyMenu; track option) {
          <option [value]="option.code" [selected]="selectedBaseCurrency === option.code">{{ option.name }}</option>
        }
      </select>
    </mat-form-field>

    <span>to</span>

    <!-- <div *ngIf="secondCurrencyMenu?.length"> -->

      <mat-form-field>
        <!-- <mat-label>Currency:</mat-label> -->
        <select matNativeControl (change)="selectSecondCurrency($event)">
          @for (option of secondCurrencyMenu; track option) {
            <option [value]="option.code" [selected]="selectedSecondaryCurrency === option.code">{{ option.name }}</option>
          }
        </select>
      </mat-form-field>

    <!-- </div> -->

    <pre>{{selectedBaseCurrency|json}}</pre>
    <pre>{{selectSecondCurrency|json}}</pre>

  </div>

  <!-- If time, would add a spinner -->
  <h1 *ngIf="!isChartDataSuccess">Loading . . . </h1>

  <div *ngIf="isChartDataSuccess">
      
    <pre>{{coinHistoryData|json}}</pre>

  </div>

</div>