.app-drawer-container {
    background-color: #010101;
    color: #fff;
    flex: 1;
    padding: 0 7px;
}

.mat-drawer, .mat-drawer-inner-container {
    background-color: #00000f;
    padding: 0px 14px;
    color: #fff;
}

.mat-drawer {
    border: 1px solid #ddd;
}

.pair {
    margin-right: 4px;
}
  
.app-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}